<div class="login-background">
  <div class="login-container">
    <div class="login-content">
      <h1> {{ title }} </h1>
      <h2> Login to get started! </h2>
      <span class="input-label">Email</span>
      <input class="input-box" type="text" >
      <span class="input-label">Password</span>
      <input class="input-box" type="password">
      <button class="primary-button" routerLink="/create-job" routerLinkActive="active">Login</button>
      <button class="secondary-button">Forgot Password?</button>
    </div>
    <div class="login-footer">
      Don't have an account? <a routerLink="/register" routerLinkActive="active" class="login-link">Create one now</a>.
    </div>
  </div>
</div>