<div class="bio-main-content">
  <div class="bio-card card-thin">
    <div class="login-content">
      <h1> {{ title }} </h1>
      <h2> Login to get started! </h2>

      <div class="bio-row small-padding margin-bottom-small">
        <span class="bio-input-label left-text">Username</span>
      </div>
      <div class="bio-row small-padding margin-bottom">
        <input type="textbox" class="bio-textbox" [ngModel]="username" (ngModelChange)="username = $event">
      </div>

      <div class="bio-row small-padding margin-bottom-small">
        <span class="bio-input-label left-text">Password</span>
      </div>
      <div class="bio-row small-padding margin-bottom">
        <input type="password" class="bio-textbox" [ngModel]="password" (ngModelChange)="password = $event">
      </div>

      <span class="bio-error margin-bottom" *ngIf="error != null"> {{ error }} </span>
      
      <div class="bio-row">
        <button type=submit class="bio-button-inverse half-margin" (click)="login()">Login</button>
        <!--
        <button class="bio-button-minor half-margin">Forgot Password?</button>
        -->
      </div>
    </div>
    <div class="login-footer">
      Don't have an account? <a routerLink="/register" routerLinkActive="active" class="bio-link">Create one now</a>.
    </div>
  </div>
</div>