<div class="login-background">
  <div class="login-container">
    <div class="login-content">
      <h1> {{ title }} </h1>
      <h2> Login to get started! </h2>
      <span class="input-label">Username</span>
      <input class="input-box" type="text" [ngModel]="username" (ngModelChange)="username = $event">
      <span class="input-label">Password</span>
      <input class="input-box" type="password" [ngModel]="password" (ngModelChange)="password = $event">
      <span class="bio-error margin-bottom" *ngIf="error != null"> {{ error }} </span>
      <div>
        <button class="primary-button" (click)="login()">Login</button>
        <!--
        <button class="secondary-button">Forgot Password?</button>
        -->
      </div>
    </div>
    <div class="login-footer">
      Don't have an account? <a routerLink="/register" routerLinkActive="active" class="login-link">Create one now</a>.
    </div>
  </div>
</div>