.login-background {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#00BFFF, #9ae5ff);
}

.login-container {
    margin: auto;
    width: 90vw;
    max-width: 400px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px #aaaaaa;
}

.login-content {
    padding: 40px;
    background-color: #fff;
}

h1 {
    color: #444;
    margin: 0px;
    font-weight: 600;
    text-align: left;
    font-size: 50px;
}

h2 {
    color: #444;
    margin: 0px;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
}


.input-label {
    display: block;
    height: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

.input-box {
    border: 0;
    border-bottom: 1px solid #aaa;
    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0 10px;
    color: #555;
}

.input-box:focus {
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    outline-width: 0;
}

button {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: calc(50% - 10px);
    margin: 0 5px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    background-color: #eee;
}

.primary-button {
    border: 2px solid #00BFFF;
    color: #00BFFF;
}

.secondary-button {
    border: 0;
}

.login-footer {
    background-color: #eee;
    padding: 20px 40px;
    font-size: 14px;
}

.login-link {
    color: #00BFFF;
    font-weight: 500;
}

.login-link:hover {
    cursor: pointer;
}