<div class="bio-main-content">

    <div class="bio-card">
      <div class="bio-card-header">
        <span class="bio-title">JOB INFORMATION</span>
      </div>

      <div class="bio-card-content">
          <div class="bio-row">
            <span class="bio-item margin-small left third left-text">Script:</span>
            <span class="bio-item margin-small right half"> FastQC </span>
            <span class="clear"></span>
          </div>
          <div class="bio-row">
            <span class="bio-item margin-small left third left-text">File:</span>
            <span class="bio-item margin-small right half"> <i>TestFile.fastq</i> </span>
            <span class="clear"></span>
          </div>
          <div class="bio-row margin-bottom">
            <span class="bio-item margin-small left third left-text">Began:</span>
            <span class="bio-item margin-small right half"> 12/2/18 </span>
            <span class="clear"></span>
          </div>

        <div class="bio-card-divider margin-bottom"></div>

        <div class="bio-item margin-bottom-small">
          <span class="bio-input-label left-text">Job Output</span>
        </div>
        <div class="bio-sub-card-container margin-bottom">
          <img src="../../assets/test.png" class="bio-job-image">
        </div>
      </div>
    </div>
</div>