body {
    background-color: #ccc;
    margin: 0 !important;
    padding: 0 !important;
    color: #333;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#00BFFF, #fff);
}

.biocloud-background {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#00BFFF, #fff);
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.biocloud-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px #aaaaaa;
}

.biocloud-header-title {
    float: left;
    line-height: 80px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
}

.biocloud-header-nav {
    float: right;
    line-height: 80px;
    margin-right: 20px;
    font-size: 18px;
    color: #00BFFF;
}

.biocloud-header-nav-item {
    text-decoration: none;
}

.biocloud-header-nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.biocloud-header-nav-item:visited {
    color: #00BFFF;
}

.biocloud-content {
    margin-top: 80px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

select {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: #00BFFF;
    color: #fff;
    border: 0;
    padding: 10px;
}

select:after {
    transition: all 0.2s ease-in;
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 0;
}

select:hover {
    transition: all 0.2s ease-in;
    background-color: #00ace6;
    border: 0;
}

select:active {
    transition: all 0.2s ease-in;
    background-color: #00ace6;
    border: 0;
}

.biocloud-page-divider {
    margin: 20px auto;
    width: 100%;
    border-bottom: 1px solid #ccc;
}