/*
    Colors:

    Background Fade 1: #00BFFF (Sky Blue)
    Background Fade 2: #9ae5ff

    Background Color: #fff;
    Inactive Color: #ccc
    Text Color: #333;
        
    Highlight Color: #00ace6; 
*/

/*
    Modified Base Styles
*/

body {
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

select {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: #00ace6;
    color: #fff;
    border: 0;
    padding: 10px;
}
select:after {
    transition: all 0.2s ease-in;
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 0;
}
select:hover {
    transition: all 0.2s ease-in;
    background-color: #00ace6;
    border: 0;
}
select:active {
    transition: all 0.2s ease-in;
    background-color: #00ace6;
    border: 0;
}

/*
    Custom Utility Styles
*/

.hidden {
    display: none !important;
}

.center-text {
    text-align: center !important;
}

.left-text {
    text-align: left !important;
}

.right-text {
    text-align: right !important;
}

.vertical-top {
    vertical-align: top !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.vertical-bottom {
    vertical-align: bottom !important;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both; 
    display: block;
}

/*
    Widths
*/

.fourth {
    width: 25%;
}

.third {
    width: 33.33%;
}

.half {
    width: 50%;
}

.two-thirds {
    width: 66.66%;
}

.three-fourths {
    width: 75%;
}

.full {
    width: 90%;
}

.max {
    width: 100%;
}

/*
    Custom Design Styles
*/

.bio-background {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#00BFFF, #9ae5ff);
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.bio-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
}

.bio-navbar-title {
    float: left;
    line-height: 80px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
}

.bio-navbar-link {
    height: 100%;
    width: auto;
    padding: 0 20px;
    font-weight: 500;
    line-height: 80px;
    font-size: 16px;
    color: #666;
    display: inline-block;
    text-decoration: none !important;
}
.bio-navbar-link:hover {
    cursor: pointer;
    background-color: #eee;
}
.bio-navbar-link:visited {
    color: #333;
    text-decoration: none;
}

.bio-main-content {
    display: block;
    padding: 0 5px;
    margin: 90px auto 20px auto; /* 80px for the header and 10px for added spacing. */
    max-width: 600px;
}

.bio-divider {
    margin: 20px auto;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.bio-title {
    color: #555;
    font-size: 20px;
    font-weight: 500;
}

.bio-header {
    display: block;
    color: #555;
    font-size: 16px;
    font-weight: 500;
}

.bio-subheader {
    display: block;
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

.bio-divide-header {
    display: block;
    height: 7px;
    width: 100%;
    color: #555;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #aaa;
    margin-bottom: 17px;
}
.bio-divide-header span {
    background-color: #fff;
    padding: 0 5px;
}

.bio-paragraph {
    font-size: 14px;
}

.bio-input-label {
    display: block;
    width: calc(100% - 20px);
    padding: 0 10px;
    text-align: right;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.bio-button {
    border-radius: 3px;
    border: 2px solid #00ace6;
    color: #00ace6;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
}

.bio-button:hover {
    cursor: pointer;
    background-color: #eee;
}

.green-button {
    border-color: #4CAF50;
    color: #4CAF50;
}

.red-button {
    border-color: #f44336;
    color: #f44336;
}

.bio-textbox {
    border: 0;
    border-bottom: 1px solid #aaa;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    color: #555;
}

.bio-textbox:focus {
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    outline-width: 0;
}

.bio-row {
    display: block;
}

.bio-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.bio-list {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 20px;
}

.bio-error {
    display: block;
    color: #d13838;
    text-align: center;
    margin: 20px 0;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.soft-margin {
    margin: 2px;
}

/*
    Bio Cards
*/

.bio-card {
    display: block;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
}

.bio-card-header {
    padding: 10px;
    padding-bottom: 0;
}

.bio-card-content {
    padding: 10px 30px;
}

.bio-card-footer {
    padding: 10px;
}

.bio-card-divider {
    width: calc(100% - 20px);
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}


