.bio-file-container {
    display: block;
    padding: 40px;
    background-color: #ddd;
    border: 1px solid #bbb;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.05);
    box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.05);
}

.bio-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.bio-file + .bio-file-label {
    font-size: 14px;
    font-weight: 500;
    background-color: #00ace6;
    border-radius: 3px;
    border: 2px solid #00ace6;
    color: #fff;
    fill: #fff;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    line-height: 20px;
}

.bio-file-label span {
    display: inline-block;
    margin-left: 5px;
}

.bio-svg {
    width: auto;
    height: auto;
}

.bio-file:focus + label,
.bio-file + label:hover {
    background-color: #eee;
    color: #00ace6;
    fill: #00ace6;
}

.bio-file + label {
	cursor: pointer;
}

.bio-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.bio-progress-bar-container {
    position: relative;
    width: calc(100% - 10px);
    height: 25px;
    padding: 5px;
    background-color: #ddd;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.05);
    box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.05);
}

.bio-progress-bar-background {
    position: absolute;
    width: calc(100% - 10px);
    height: 25px;
    background-color: #aaa;
    border-radius: 5px;
}

.bio-progress-bar {
    position: absolute;
    width: calc(45% - 10px);
    height: 25px;
    background-color: #00BFFF;
    border-radius: 5px;
}

.bio-progress-bar-label {
    position: absolute;
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}