<div class="login-background">
  <div class="login-container">
    <div class="login-content">
      <h1> {{ title }} </h1>
      <h2> Login to get started! </h2>
      <span class="input-label">Email</span>
      <input class="input-box" type="text" >
      <span class="input-label">Password</span>
      <input class="input-box" type="password">
      <span class="input-label">Confirm Password</span>
      <input class="input-box" type="password">
      <button class="primary-button">Register</button>
    </div>
    <div class="login-footer">
      Already have an account? <a routerLink="/login" routerLinkActive="active" class="login-link">Login in</a>.
    </div>
  </div>
</div>